
#head{
 
 height: 100px;
}
#details
{
   
    height: 500px;

}
#left{
    height: 500px;
    background-color: bisque;
}
#right{
    height: 500px;
    background-color: aqua;
}
#footer{
    background-color: gray;
    height: 50px;

}